body {
    padding: 0;
    margin: 0;
    background-color: bisque;
}

header, footer {
    text-align: center;
    background-color: #DFCBD4; 
    color: #45425c;
    text-transform: uppercase;
}

.main {
    display: grid;
    grid-template-columns: 250px 250px;
    grid-template-rows: repeat(3, 450px);
    grid-gap: 10px;
    margin-top: 44px;
    margin-bottom: 20x;
    grid-auto-flow: column;
    grid-auto-columns: 100px;
    grid-auto-rows: 500px;
    justify-content: center;
    justify-items: left;
    align-items: stretch;
    

  }

.grid {
    background-color: #dfcbd4;
    color: black;
    border-radius: 5px;
  }

